{:paths ["src" "../target/classes"]
 :deps/prep-lib {:alias :build
                 :fn compile
                 :ensure "target/classes"}
 :deps {org.babashka/http-client {:mvn/version "0.0.2"}
        bb.mom/tete {:local/root "../"}}}